body {
    font-family: Arial, Helvetica, sans-serif;
    color: #d4d4dc;
    background-color: #1d1e22;
}

#header {
    color: #feda6a;
    font-weight: 800;
    font-size: 200%;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-color: #d4d4dc;
}

#playgame {
    background-color: #feda6a;
    text-align: center;
    display: inline-block;
    padding: 15px 32px;
    margin: 1rem 1rem 1rem 1rem;
    border: none;
}

#playgame:hover {
    cursor: pointer;
}

#gyrotest {
    margin: 1rem;
}

@media only screen and (max-width: 600px) {
    #content {
        padding: 1rem;
    }
}

@media only screen and (min-width: 600px) {
    body {
        padding: 2rem 3rem 3rem 2rem;
    }
    h2:hover {
        color: #feda6a;
        display: list-item;
        list-style: square;
        list-style-position: inside;
    }

    #content {
        padding: 3rem;
    }
}
